	<% include ../partials/header %>

	<div class="row">
  		<div class="col-md-3">
  			<div class="container">
  				<p class="lead">YelpGround</p>
  				<ul class="list-group">
				  <li class="list-group-item active">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				</ul>
			</div>
  		</div>
  		<div class="col-md-9">
  			<div class="container">
  				<div class="card" id="maincard">
  					<img src="<%= ground.image %>" class="card-img-top" alt="<%= ground.name %>">
 					<div class="card-body">
 						<h4 class="card-title float-left"><%= ground.name%></h4>
						<p class="float-right">9 € / Night</p>
						<div class="clearfix"></div>
 						<p class="card-text"><%= ground.description%></p>
						<p class="authorinfo"> - by <%= ground.author.username%> - </p>
						<a class="btn btn-warning" href="/grounds/<%=ground._id %>/edit" role="button">Edit</a>
 					</div>
  				</div>
  			</div>

  			
			<div class="col-md-12">
			<% ground.comments.forEach(function(comment){ %>
				<div class="card comment">
					<div class="card-body">
						<p class="commentstext"><%=comment.text %></p>
						<p class="commentsauthor"> - by <%=comment.author.username %> - </p>
					</div>	
				</div>
			<% }) %>
			<% if(user){ %>
				<div class="card">
					<% include ../comments/new_emb %>
				</div>
			<%}%>
			</div>
		</div>
  		</div>
	</div>

	<a href="/grounds">Back</a>

	</div>
	<% include ../partials/footer %>